{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}User Management{% endblock %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="far fa-cars"></i> User Management</h3>

               
              </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"></div>
              <div class="row">
                  <div class="col-sm-12">

                    <div id="example1_filter" class="form-inline">
                      <form action="" method="get">
                         {{myfilter.form}}
                      <button class="btn btn-default" type="submit"> <i class="  fas fa-search"></i></button>

                    </form>
                    </div>
                  </div>
                </div>
              <table id="example1" class="table table-bordered table-striped DataTable mt-1" role="grid" aria-describedby="example1_info">
                <thead>
                <tr>
                
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Phone</th>
                  <th>School</th>
                  <th>Department</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
               {% for acc in account %}   
                <tr>

                  <td>{{acc.get_full_name}}</td>
                  
                  <td>{{acc.username}}</td>
                  <td>{{acc.role}}</td>
                  <td>{{acc.phone}}</td>
                  <td>{{acc.school}}</td>
                  <td>{{acc.department}}</td>
                    <td><a href="{% url 'detail-account' acc.username %}" class="btn btn-link"> <i class="nav-icon far fa-edit"></i></a>
                        <a href="{% url 'delete-account' acc.id %}" class="delete btn btn-link"> <i class="nav-icon fa fa-trash"></i></a></td>
                </tr>
               {% endfor %}
              </table>
            </div>
            <div>{{ total_account }} Users available</div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</div>
<!-- ./wrapper -->

<!-- page script -->



<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>


{% endblock content %}