{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}User Management{% endblock %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#008058;color:#fff">
                <h3 class="card-title"><i class="far fa-cars"></i> User Management</h3>

               
              </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"></div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="example1_length">
                    <label>Show 
                      <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select> entries</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter">
                      <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1">
                      </label>
                    </div>
                  </div>
                </div>

              <table id="example1" class="table table-bordered table-striped DataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr>
                
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>School</th>
                  <th>Department</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
               {% for acc in account %}   
                <tr>

                  <td>{{acc.get_full_name}}</td>
                  
                  <td>{{acc.username}}</td>
                  <td>{{acc.role}}</td>
                  <td>{{acc.phone}}</td>
                  <td>{{acc.email}}</td>
                  <td>{{acc.school}}</td>
                  <td>{{acc.department}}</td>
				          <td><button class="btn btn-link"> <i class="nav-icon far fa-edit"></i></button></td>
                </tr>
               {% endfor %}
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

</div>
<!-- ./wrapper -->

<!-- page script -->



<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>


{% endblock content %}