{% extends 'Trequest/base.html' %}
{% block title %}History{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1"  style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="fa  fa-star"></i> User Activities</h3>
          </div>
            <!-- /.card-header -->
           
           <div class="card-body">
             
            <div class="card-body">
                 <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap ">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Created by</th>
                      <th>content type</th>
                      <th> object </th>
                      <th> Action </th>
                      
                    </tr>
                  </thead>

                  {% for log in logs %}
                  <tbody>
                    <tr>
                       <td>{{log.created_at}}</td>
                       <td>{{log.created_by}}</td>
                       <td>{{log.instances}}</td>
                       <td>{{log.log_object}}</td>
                       <td>{{log.action}}</td>

                       
                        
                    </tr>
                  </tbody>
                {% endfor %}
                </table>
              </div>
            </div>







          </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
{% endblock content %}
