{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Make Request{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title">  Email Sent</h3>
          </div>
            <!-- /.card-header -->
           
           <div class="card-body">
          
          <div class="container">
        <div class="row">
            <div class="col-md-12">
              <center><h1 style="color:green"><i class="fa  fa-check-square"></i></h1></center>
        <h2 class="alert alert-success">You have just sent an email to: {{email}} </h3>
            </div>
        </div>
    </div>

           
          </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
{% endblock content %}







