{% extends 'Trequest/base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <div class="content-header"></div>
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
       {% if request.user.role == 'TSHO' or request.user.role == 'SchoolDean' or request.user.role == 'DepartmentHead'  %}

                <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-cart-plus "></i></span>

          
                <div class="info-box-content">
                  
                  {% if request.user.role == 'TSHO' %}
                     <a href="{% url 'tsho-view-request' %}">
                            <h5>New Request</h5>
                            <center><p style="font-size: 22px" class="counter">{{ tsho_pend }}</p></center>
                    </a>
                   {% elif request.user.role == 'DepartmentHead'  %}
                      <a href="{% url 'department-view-request' %}">
                         <h5>New Request</h5>
                          <center><p style="font-size: 22px" class="counter">{{dep_pend}}</p></center>
                    </a>
                      
                 {% elif request.user.role == 'SchoolDean' %}
                 <a href="{% url 'school-view-request' %}">
                       <h5>New Request</h5>
                       <center><p style="font-size: 22px" class="counter">{{ sch_pend }}</p></center>
                  </a>
                 {% else %}
                      <h5>New Request</h5>
                     <span class="info-box-number">Loading...</span>
                {% endif %}
            </div>
            </a>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
          <!-- ./col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
             <a href="{% url 'account' %}">
              <div class="info-box">
                <span class="info-box-icon bg-blue">
                    <i class="fa fa-users"></i></span>
    
                <div class="info-box-content">
                  <h5>Total Users</h5>
                    <center><p style="font-size: 22px"  class="counter">{{ app }}</p></center>
                </div>
                <!-- /.info-box-content -->
              </div>
             </a>
          <!-- /.info-box -->
        </div>
          <!-- ./col -->
         <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box" >
            <span  class="info-box-icon bg-gradient-gray">
              <i  class="fa fa-bell"></i>
            </span>

            <div class="info-box-content">
             <h5>Notifications</h5>
              <center><p style="font-size: 22px"  class="counter">23</p></center>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
          <!-- ./col -->
          <!-- ./col -->
         <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="fa fa-car"></i>
            </span>

           <a href="{% url 'vehicle-manage' %}">
                <div class="info-box-content">
              <h5>Active Vehicle</h5>
                <center><p style="font-size: 22px"  class="counter">{{ vehicle_count }}</p></center>
            </div>
           </a>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
      {% endif %}
        <!-- /.row -->
        <!-- Main row -->
        <div class="card">
            <div class="card-header">
              <a href="#" class="card-title">Today's Schedule</a>
             {% if request.user.role == 'TSHO' %}
                  <a href="{% url 'create-schedule'  %}"  style="float: right">
                  <i class="fas fa-plus"></i> Add Schedule
                
              </a>
              {% endif %}
            </div>
            
            <!-- /.card-header -->
            <div class="card-body">
                 <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap ">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Shift</th>
                      <th>Time</th>
                      <th>Driver Name</th>
                      <th>Place</th>
                      <th>Service Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  {% for sch in schedule %}
                  <tbody>
                    <tr>
                       <td>{{sch.date}}</td>
                       <td>{{sch.shift}}</td>
                       <td>{{sch.time}}</td>
                       <td>{{sch.driver.user.get_full_name}}</td>
                       <td>{{sch.place}}</td>
                       <td>{{sch.service_type}}</td>
                        <td>
                             <a href=""><i class="fas fa-eye"></i></a> &nbsp;&nbsp; &nbsp;&nbsp;
                           {% if sch.author == request.user %}
                               <a href="{% url 'update-schedule' sch.id  %}">
                                   <i class="fas fa-edit"></i>
                              </a>
                            {% endif %}
                        </td>
                    </tr>
                  </tbody>
                {% endfor %}
                </table>
              </div>
            </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 

 <!-- ========== COMMON JS FILES for counting up ========== -->
 <script src="{% static 'plugins/jquery/jqueryforcount.js' %}"></script> 
 <script src="{% static 'plugins/jquery/jquery.counterup.min.js' %}"></script>
 <script src="{% static 'plugins/jquery/waypoints.min.js' %}"></script>  
  <!-- counting the number of request and vehicle aswellas notifications -->
  <script>
   jQuery(document).ready(function($) {
  $('.counter').counterUp({
    delay: 20,
    time: 2000,
  });
});


</script>
  {% endblock content  %}