{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Make Request{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="fa  fa-check"></i> Make a Request</h3>
          </div>
            <!-- /.card-header -->
           <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                  <form class="" action="" method="POST">
                      {% csrf_token %}
                      {{form|crispy}}<br>
                      <input type="hidden" name="alert" value="{{alert}}" readonly>
                      <button class="btn btn-info " type="Submit">Create</button>
                  </form>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}
