
{% if messages %}
    {% for message in messages %}
       {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
         <script>
             Swal.fire('', '{{ message }}', "success");
       </script>
         {% endif %} 
      {% endfor %}
    
    <!-- for warning -->
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>
            Swal.fire('', '{{ message }}', "warning");
        </script>
        {% endif %} 
    {% endfor %}
    
 {% endif %}