 {% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{#  <link rel="stylesheet" type="text/css" href="swal/node_modules/sweetalert2/dist/sweetalert2.css">#}
{#<script src="swal/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>#}
{# <script>#}
{#     Swal.fire({#}
{#      icon: 'success',#}
{#      html: '<h4>Done</h4>'#}
{#    });#}
{##}
{##}
{#    </script>#}
{% for message in messages %}
  <div class="toast notification bg-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="20000">
    <div class="toast-header">
      <strong class="mr-auto">
        {% if message.tags == 'error' %}
          <i class="fas fa-times mr-2"></i>
        {% elif message.tags == 'warning' %}
          <i class="fas fa-exclamation mr-2"></i>
        {% elif message.tags == 'info' %}
          <i class="fas fa-info mr-2"></i>
        {% elif message.tags == 'success' %}
          <i class="fas fa-check mr-2"></i>
        {% endif %}
        {{message.tags|capfirst}}
      </strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
     <h4> {{message|safe}}</h4>
     <center>
        <button type="button" class="btn ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" style="background-color: white;color: black">OK</button>
     </center>

    </div>
  </div>
{% endfor %}