{% extends 'Trequest/base.html' %}
{% block title %}View Rate{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1"  style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="fa  fa-star"></i> My Rate</h3>
          </div>
            <!-- /.card-header -->
         
           





          <!-- /. -->
            <div class="card-body">
                 <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap ">
                  <thead>
                    <tr>
                      <th>Driver name</th>
                      <th>Rate number</th>
                      <th>Rated by</th>
                      <th> Trip </th>
                
                      
                    </tr>
                  </thead>
    
                  {% for rates in rates %}
                  <tbody>
                    <tr>
                       <td>{{rates.driver}}</td>
                       <td>{{rates.rating}}</td>
                       <td>{{rates.duser}}</td>
                       <td>{{rates.trip}}</td>
                                   
                    </tr>
                  </tbody>
                {% endfor %}
               
           
                </table>

<div>


</div>

              </div>
            </div>







          </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
{% endblock content %}
