{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}My Request{% endblock %}
{% block content %}
<div class="content-wrapper mt-2">
  <section class="content">
    <div class="container-fluid">
       <div class="row mt-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header" style="background:#003e80;color:#fff">
                <h3 class="card-title">My Request</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap ">
                  <thead>
                    <tr>
                  <th>From</th>
                      <th>To</th>
                      <th>Passenger No</th>
                      <th>Start Date</th>
                      <th>End  Date</th>
                    {% if request.user.role != "DepartmentHead" and  request.user.role != "SchoolDean" %}
                       <th>Department</th>
                    {% endif %}
                    {% if request.user.role != "SchoolDean" %}
                      <th>School</th>
                    {% endif %}
    
                      <th>TSHO</th>
                      <th>Action</th>
                    </tr>
                  </thead>
           
                  <tbody>
                  
                       {% if myrequest %}       
                             {% for my in myrequest %}
                               <tr>
                                 <td>{{my.start_from}}</td>
                                 <td>{{my.destination}}</td>
                                 <td>{{my.passenger_numbers}}</td>
                                 <td>{{my.start_date|date:"F d, Y"}}</td>
                                 <td>{{my.end_date|date:"F d, Y"}}</td>
                             {% if request.user.role != "DepartmentHead" and  request.user.role != "SchoolDean" %}
                                  <td>{{my.status2}}</td>
                            {% endif %}
                            {% if request.user.role != "SchoolDean" %}
                                 <td>{{my.status3}}</td>
                           {% endif %}
                                 <td>{{my.status}}</td>
                                 <td>
                                     <a href="{% url 'detail-request' my.id %}"  class=" btn btn-success btn-sm">View</a>
                                     {% if my.status2 == "Pending" or  my.status3 == "Pending" %}
                                     <button class="btn btn-danger btn-sm"  >Cancel</button>
                
                                     {% else %}
                                     <button class="btn btn-danger btn-sm"  disabled>Cancel</button>
                                     {% endif %}
                                 </td>
                                   </tr>
                              {% endfor %}
                      {% else %}
                          <div class="alert alert-danger">
                             <p>There No is prevous trip history</p>
                          </div>
                      {% endif %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        
          
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}