{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Notifications{% endblock %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="far fa-cars"></i> Vehicle Management</h3>



{% endblock content %}