{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Make Request{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="fa  fa-check"></i> User Profile</h3>
          </div>
            <!-- /.card-header -->
           
           <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{% static 'dist/img/this.png' %}">
               <p> <b>Full Name :</b> {{user.get_full_name}}</p>
                <p> <b>Email :</b> {{user.email}}</p>
                 <p> <b>Phone :</b> {{user.phone}}</p>
                  <p> <b>Username :</b> {{user.username}}</p>

              </div>
              <div class="col-md-6">
                <p> <b>School :</b> {{user.school}}</p>
                <p> <b>Department :</b> {{user.department}}</p>
                 <p> <b>Role :</b> {{user.role}}</p>
                  <p> <b>Sex :</b> {{user.passenger.sex}}</p>
                   <p> <b>Address :</b> {{user.passenger.location}}</p>

                  <a href="">Edit </a>
                 
              </div>
            </div>
            <hr>
        

           
          </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
{% endblock content %}
