{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}User Registrations{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="far fa-cars"></i> User Registration</h3>
            </div>
            <!-- /.card-header -->
             <div class="card-body">
                   <div class="col-md-6">

                      <form action="" method="post">
                         {% csrf_token %}
                         {{ user_form|crispy }}
                          <input type="hidden" name="alert" value="{{alert}}" readonly>
                         <button class="btn btn-primary" type="submit" >Register</button>
                       </form>

                    </div>
                  </div>
        
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
{% if messages %}
  <script>
      {% for message in messages %}

        $( document ).ready(function() {
        if (document.UserRegistrationForm.alert.value == 1)
        {
                swal("¡Bien hecho!", "El registro fue exitoso.", "success")
        }
        if (document.UserRegistrationForm.alert.value == 0)
        {
            swal("¡Oops!", "Algo salió mal.", "error")
        }
        });
      {% endfor %}
  </script>
{% endif %}

  
{% endblock content %}




