{% extends 'Trequest/base.html' %}
{% block title %}Edit Account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1"  style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="fa  fa-star"></i> Edit User Account</h3>
           </div>
           <div class="card-body">  
                    <form action="" method="POST">
                        {% csrf_token %}         
                         <div class="row">
                                <div class="col-md-8">
                                     {{form|crispy}}        
                                </div>  
                                
                           </div>            
                                <button class="our-btn btn btn-primary" style="float: right;" type="submit" >Submit</button>
                          
                    </form>        
              </div>
            </div>
          </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
{% endblock content %}