{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Vehicle Management{% endblock %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="far fa-cars"></i> Vehicle Management</h3>


              </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"></div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="example1_length">
                    <label>Show
                      <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select> entries</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter">
                      <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1">
                      </label>
                    </div>
                  </div>
                </div>

              <table id="example1" class="table table-bordered table-striped DataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr>

                  <th>Type</th>
                  <th>Plate Number</th>
                  <th>Status</th>
                  <th>Driver</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
               {% for veh in vehicle %}
                <tr>

                  <td>{{veh.vehicle_type}}</td>
                  <td>{{veh.plate_number}}</td>
                  <td>{{veh.status }}</td>
                  <td><a href="{% url 'detail-account' veh.driver  %}">{{veh.driver.user.get_full_name}}</a> </td>
                    <td><a href="{% url 'edit-vehicle' veh.id %}" class="btn btn-link"> <i class=" far fa-edit"></i></a>
                    <button class="btn btn-link"> <i class=" fa fa-trash"></i></button></td>
                </tr>
               {% endfor %}
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->

<!-- page script -->



<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>


{% endblock content %}