{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Vehicle Management{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-12 ">
          
            <div class="card">
              <div class="card-header" style="background:#003e80;color:#fff">
              <a href="{% url 'vehicle-manage' %}" style="color: white;">  <h3 class="card-title">Vehicle Management</h3></a>
                <div class="col-sm-12">

                  <div id="example1_filter" class="form-inline" style="float: right;">
                    <form action="" method="get">
                      <input type="text" class="form-control" name="q" placeholder="Search Vehicle">
                    <button class="btn btn-default" type="submit" > <i class="  fas fa-search" ></i></button>

                  </form>
                  </div>
                </div>
                </div>
            
            <!-- /.card-header -->
            <div class="card-body">
             
           <div style="float: right;">
            <button  type="button" class="our-btn btn btn-info btn-sm" data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus-circle"></i> Vehicle Type</button>
            <a href="{% url 'vehicle-register' %}" style="margin-top: 20px;"> <button class="our-btn btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> New Vehicle</button></a>
             
           </div>

            </div>
             
              <table id="example1" class="table table-bordered table-striped DataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr>

                  <th>Type</th>
                  <th>Plate Number</th>
                  <th>Status</th>
                  
                  <th>Currently</th>
                  <th>Driver</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
               {% for veh in vehicle %}
                <tr>

                  <td>{{veh.vehicle_type}}</td>
                  <td>{{veh.plate_number}}</td>
                  <td>{{veh.status }}</td>
                  <td>{{  veh.currently }}</td>
                      
                  <td><a href="{% url 'detail-account' veh.driver  %}">{{veh.driver.user.get_full_name}}</a> </td>
                    <td><a href="{% url 'edit-vehicle' veh.id %}" class="btn btn-link"> <i class=" far fa-edit"></i></a>
                    <a href="{% url 'delete-vehicle' veh.id %}" class="deleteVehicle btn btn-link"> <i class=" fa fa-trash"></i></a></td>
                </tr>
                {% empty %}
                <table>
                         <td style="color: red;padding: 15px;">Not Found</td>
                  </table>
                  
                   
            
               {% endfor %}
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->


<!-- modal for ading vehicle type -->


<form class="" method="POST">
  {% csrf_token %}
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Vehicle Type</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
      </div>
      
      <div class="modal-body">
       {{t_form|crispy}}

      </div>
      <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
  </div>
  <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</form>
<!-- end -->




<!-- page script -->



<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>


{% endblock content %}