{% extends 'Trequest/base.html' %}
{% load static %}
{% block title %} Approved Request  {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-wrapper mt-2">
    <section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header mb-1" style="background:#003e80;color:#fff">
                <h3 class="card-title"><i class="fa  fa-check-square"></i> Approved  Request</h3>
            </div>
            <!-- /.card-header -->

           <div class="card-body">
            <div class="row">
              <div class="card col-md-4">
                <div class="card-header">User Information</div>
                 <p> <b>Full Name :</b> {{trans.passenger.get_full_name}}</p>
                    <p> <b>Email :</b> {{trans.passenger.email}}</p>
                    <p> <b>Phone :</b> {{trans.passenger.phone}}</p>
                      <p> <b>School :</b> {{trans.passenger.school}}</p>
                        <p> <b>Department :</b> {{trans.passenger.department}}</p>
                          <p> <b>Total person :</b> {{trans.passenger_numbers}}</p>
                          <p> <b>Members :</b> {{trans.list_of_passengers}}</p>
              </div>
              <div class="card col-md-4">
                <div class="card-header">Trip Information</div>
                 <p> <b>Start From :</b> {{trans.start_from}}</p>
                   <p> <b>To :</b> {{trans.destination}}</p>
                   <p> <b>Start Date :</b> {{trans.start_date}}</p>
                   <p> <b>End Date :</b> {{trans.end_date}}</p>
                  
                   <p> <b>Sent On :</b> {{trans.created_at}}</p>
                  <p> <b>From TSHO :</b> <i style="color: #00b44e;font-weight: bold">{{trans.status}}</i></p>
                  <p> <b>From Department :</b> <i style="color: #00b44e;font-weight: bold">{{trans.status2}}</i></p>
                  <p> <b>From School :</b> <i style="color: #00b44e;font-weight: bold">{{trans.status3}}</i></p>
                  <p> <b>Reason :</b> {{trans.reason|safe}}</p>
                </div>
              <div class="card col-md-4">
                  <div class="card-header">Vehicle Information</div>
                  <p> <b>Driver Full name :</b> {{trans.start_from}}</p>
                  <p> <b>Assigned date :</b> {{trans.destination}}</p>
                  <p> <b>Assigned time:</b> {{trans.start_date}}</p>
                  <p> <b>vehicle type :</b> {{trans.end_date}}</p>
                  <p> <b>vehicle plate no :</b> {{trans.end_date}}</p>
                  
              </div>
            <hr>
        <a href = "{% url 'request-pdf' trans.id %}"> <button class="btn btn-primary" style=";background:#003e80 ">
        <i class="fas fa-download"></i>
           Print</button></a>

          </div>
          
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content %}
