{% extends 'Trequest/base.html' %}
{% load static%}
{% block title %}Material Management{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper mt-2">
<section class="content">
<div class="row">
<div class="col-12 ">
<div class="card">
<div class="card-header mb-1"  style="background:#003e80;color:#fff">
<h3 class="card-title"><i class="far fa-cars"></i> Material Management</h3>
</div>


<!-- /.card-header -->
<div class="card-body"><br>
    <a href="{% url 'AddMaterial' %}" style="float: right;" class="btn btn-primary">New Material</a>

<form action="" method="get"  class="form-inline">
    <input type="text" class="form-control" name="search" placeholder="Search User" id="tags">
  <button class="btn btn-default" type="submit"> <i class="  fas fa-search"></i></button>

</form>

<table id="example1" class="table table-bordered table-striped">
<thead>
<tr>
<th>Material Name</th>
<th>Type</th>
<th>Quantity</th>
<th>Action</th>
</tr>
</thead>
<tbody>
{%for i in alert %}
<tr>
<td>{{i.name}}</td>
<td>{{i.type_of}}</td>
<td>{{i.quantity}}</td>
<td>
<a href="{%url 'Updatematerial' i.id%}" class="btn-sm btn btn-info">Update</a>
<a href="{%url 'delete_material' i.id%}" class="delete-material btn-sm btn btn-danger">Delete</a>
</td>
</tr>
{% empty %}
<table style="margin-top: 10px;">
            <td style="color: red;">Not Found</td>
</table>
{%endfor%}

</table>
</div>
<!-- /.card-body -->

</div>
</div>
<!-- /.card -->
</div>

<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
<div class="float-right d-none d-sm-block">
<b>TSREP</b> 3.0.2
</div>
</footer>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- page script -->

{% endblock content %}
